---
const Game = "Geometry Dash";
import Layout from "../../layout/layout.astro";
---

<Layout Game={Game}>
  <div style="text-align: center">
    <iframe
      src="https://scratch.mit.edu/projects/105500895/embed"
      frameborder="0"
      scrolling="no"
      allowfullscreen="allowfullscreen"
      style="width:98vw; height:96vh; border:0;"></iframe>
  </div>

  
</Layout>

