---
const Game = "Geometry Dash";
import Layout from "../../layout/layout.astro";
---

<Layout Game={Game}>
  <div style="text-align: center">
    <iframe
      src="https://scratch.mit.edu/projects/105500895/embed"
      frameborder="0"
      scrolling="no"
      allowfullscreen="allowfullscreen"></iframe>
  </div>

  <script type="text/javascript">
    atOptions = {
      key: "1cc5f63f55fc28b4c469b5e4e2f1a79d",
      format: "iframe",
      height: 250,
      width: 300,
      params: {},
    };
  </script>
  <script
    type="text/javascript"
    src="//www.highperformanceformat.com/1cc5f63f55fc28b4c469b5e4e2f1a79d/invoke.js"
  ></script>
</Layout>
