---
const Game = "Run 3";
import Layout from "../../layout/layout.astro";
import Flash from "../../components/flash.astro";
const gamePath = "/flash/run3.swf";
---

<Layout Game={Game}>
  <div style="text-align: center">
    <div
      id="container"
      style="border: #ccc 0px solid; height: 100%; width: 100%"
    >
    </div>
    <script data-astro-rerun is:inline>
      var s = document.createElement("script");
      s.src = "https://archive.org/download/run-3-archive/Run%203%20Archive/HTML5%20Versions/26088.js";
      s.onerror = function() { console.error("Run3 load failed"); };
      document.body.appendChild(s);
    </script>
  </div>
</Layout>
