---
const Game = "Super Mario Flash";
import Layout from "../../layout/layout.astro";
import Flash from "../../components/flash.astro";
const gamePath = "/flash/supermarioflash.swf";
---

<Layout Game={Game}>
  <div class="text-center">
    <div id="container" class="flex items-center justify-center min-h-[calc(100vh-100px)]">
    </div>
    <Flash gamePath={gamePath} />
  </div>
</Layout>

