---
const Game = "Super Mario Flash 2";
import Layout from "../../layout/layout.astro";
import Flash from "../../components/flash.astro";
const gamePath = "/flash/supermarioflash2.swf";
---

<Layout Game={Game}>
  <div style="text-align: center">
    <div id="container" style="border: #ccc 0px solid; height: 100%; width: 100%; min-height: 96vh;">
    </div>
    <Flash gamePath={gamePath} />
  </div>
</Layout>
