---
import Layout from "../../layout/layout.astro";
---

<Layout slug="webtris">
  <div class="flex justify-center items-center min-h-[80vh] bg-[#010101]">
    <iframe
      src="/webtris-game/index.html"
      class="w-full max-w-[90vw] h-[80vh] border-0"
      title="Webtris"></iframe>
  </div>
</Layout>
