@import "tailwindcss";

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.game-tile {
    text-align: center;
    text-decoration: none;
}