---
import Layout from "../layout/layout-home.astro";
import Gametile from "../components/gametile.astro";
const pageTitle = "Home - Unblocked Games";
const games = [
  {
    Game: "Gun Mayhem 2",
    Path: "/games/gun-mayhem2",
    Image: "/images/gm2cover.png",
  },
  {
    Game: "Madness: Project Nexus",
    Path: "/games/madness-project-nexus",
    Image: "/images/madness-cover.png",
  },
  { Game: "Hobo 2", Path: "/games/hobo2", Image: "/images/hobo2cover.jpg" },
  {
    Game: "Riddle School 2",
    Path: "/games/riddle-school2",
    Image: "/images/Riddle-School-2_logo.png",
  },
  { Game: "Vex 3", Path: "/games/vex3", Image: "/images/vex-3cover.jpg" },
  { Game: "Tetris", Path: "/games/tetris", Image: "/images/tetriscover.avif" },
  {
    Game: "The Impossible Quiz 2",
    Path: "/games/theimpossiblequiz2",
    Image: "/images/impossiblequiz2cover.jpg",
  },
  {
    Game: "Super Mario Flash",
    Path: "/games/supermarioflash",
    Image: "/images/supermarioflashcover.png",
  },
  {
    Game: "Minesweeper",
    Path: "/games/minesweeper",
    Image: "/images/minesweepercover.jpg",
  },
  {
    Game: "Bloons TD 5",
    Path: "/games/bloonstd5",
    Image: "/images/bloonstd5cover.png",
  },
  { Game: "Hobo 7", Path: "/games/hobo7", Image: "/images/hobo7cover.webp" },
  { Game: "Doom", Path: "/games/doom", Image: "/images/doomcover.jpg" },
  {
    Game: "Happy Wheels",
    Path: "/games/happywheels",
    Image: "/images/happywheelscover.jpeg",
  },
  {
    Game: "Geometry Dash",
    Path: "/games/geometry-dash",
    Image: "/images/geometrydashcover.png",
  },
  {
    Game: "Riddle School 3",
    Path: "/games/riddle-school3",
    Image: "/images/riddle-school-3-cover.jpg",
  },
  {
    Game: "Riddle School 4",
    Path: "/games/riddle-school4",
    Image: "/images/riddle-school-4-cover.jpg",
  },
  {
    Game: "Riddle School 5",
    Path: "/games/riddle-school5",
    Image: "/images/riddleschool5-cover.jpg",
  },
  {
    Game: "Plants vs Zombies",
    Path: "/games/plants-vs-zombies",
    Image: "/images/plants-vs-zombies-cover.gif",
  },
  {
    Game: "Geography Game USA",
    Path: "/games/geography-game",
    Image: "/images/geography_game_cover.jpg",
  },
];
---

<Layout pageTitle={pageTitle}>
  <h1 class="text-xl font-bold mb-4 m-5">
    Welcome to the best free Unblocked Games website
  </h1>

  <div class="games-grid">
    {games.map((g) => <Gametile Game={g.Game} Path={g.Path} Image={g.Image} />)}
  </div>
</Layout>
