---
const pageTitle = "Unblocked games";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="src/styles/global.css" />
        <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="Astro" />
        <title>{pageTitle}</title>
        <style>
            @import "tailwindcss";

            .cover-img {
                width: 300px;
                height: 200px
            }


            .games-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            gap: 20px;
        }

        .game-tile {
            text-align: center;
            text-decoration: none;
        }
        </style>
    </head>
    <body>
        <img
            src="/images/games_logo_light.svg"
            alt="light mode version of the GAMEhub logo"
            width="300"
        />

        <div class="games-grid">
            <a href="/games/gun-mayhem2" class="game-tile">
                <img
                    src="/images/gm2cover.png"
                    alt="Gun mayhem 2 cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Gun Mayhem 2
            </a>

            <a href="/games/hobo2" class="game-tile">
                <img
                    src="/images/hobo2cover.jpg"
                    alt="Hobo 2 cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Hobo 2
            </a>
            <a href="/games/riddle-school2" class="game-tile">
                <img
                    src="/images/Riddle-School-2_logo.png"
                    alt="Riddle School 2 cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Riddle School 2
            </a>
            <a href="/games/vex3" class="game-tile">
                <img
                    src="/images/vex-3cover.jpg"
                    alt="Vex 3 cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Vex 3
            </a>
            <a href="/games/tetris" class="game-tile">
                <img
                    src="/images/tetriscover.avif"
                    alt="Tetris cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Tetris
            </a>
            <a href="/games/theimpossiblequiz2" class="game-tile">
                <img
                    src="/images/impossiblequiz2cover.jpg"
                    alt="The Impossible Quiz 2 cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                The Impossible Quiz 2
            </a>
            <a href="/games/supermarioflash" class="game-tile">
                <img
                    src="/images/supermarioflashcover.png"
                    alt="Super Mario Flash cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Super Mario Flash
            </a>
            <a href="/games/minesweeper" class="game-tile">
                <img
                    src="/images/minesweepercover.jpg"
                    alt="Minesweeper cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Minesweeper
            </a>
            <a href="/games/bloonstd5" class="game-tile">
                <img
                    src="/images/bloonstd5cover.png"
                    alt="Bloons TD 5 cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Bloons TD 5
            </a>
            <a href="/games/hobo7" class="game-tile">
                <img
                    src="/images/hobo7cover.webp"
                    alt="Hobo 7 cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Hobo 7
            </a>
            <a href="/games/doom" class="game-tile">
                <img
                    src="/images/doomcover.jpg"
                    alt="Doom cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Doom
            </a>
            <a href="/games/happywheels" class="game-tile">
                <img
                    src="/images/happywheelscover.jpeg"
                    alt="Happy Wheels cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Happy Wheels
            </a>
            <a href="/games/geometry-dash" class="game-tile">
                <img
                    src="/images/geometrydashcover.png"
                    alt="Geometry Dash cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Geometry Dash
            </a>
            <a href="/games/madness-project-nexus" class="game-tile">
                <img
                    src="/images/madness-cover.png"
                    alt="Madness: Project Nexus cover image"
                    class="cover-img rounded-xl m-10"
                />
                <br />
                Madness: Project Nexus
            </a>
        </div>
        <div
            style="position: fixed; bottom: 10px; left: 10px; font-size: 13px;"
        >
            <a href="/dmca.astro">DMCA</a>
        </div>
    </body>
</html>